* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  
}

header {
  text-decoration: none;
  text-align: center;
  padding: 10px;
  padding-top: 0px;
}

footer {
  text-decoration: none;
}
.button {
  background-color: rgba(104,191,202,1);
  padding: 5px 20px;
  text-align: center;
  display: inline-block;''
  border: solid 2px rgba(104,191,202,1);

}
.button:hover {
  color:rgba(104,191,202,1);
  background-color: white;
  border: solid 2px rgba(104,191,202,1);
}


/* header 
--------------- */

.first_wrapper {
  padding-top: 150px;
  margin-bottom: 100px;
}
/*footer*/
.footer_wrapper {
  background-color: rgba(248,186,38,1);
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* over ons pagina */
.team {
  width: 250px;
  height: auto;
}